{% extends 'base.html' %}
{% block content %}
<h2>Обо мне</h2>
<p>👋 Привет! Меня зовут Тимур, я фрилансер — дизайнер и фотограф с 3-летним опытом.
Мне нравится превращать идеи в визуальные истории — будь то логотип, сайт или фотосессия..</p>
    <ul>
  <li>🎓 Образование: Колледж, специальность "Оператор вычислительной техники"</li>
  <li>🛠 Навыки: Photoshop, Figma, Lightroom, HTML/CSS</li>
  <li>🗓 Опыт работы: более 3 лет фриланса</li>
  <li>🌍 Языки: русский, английский (B1)</li>
</ul>
<a href="https://t.me/gammaG1ziandVova2k" target="_blank">Telegram</a> |
<a href="https://www.instagram.com/sfdipen/" target="_blank">Instagram</a> |
<a href="isopevevehy.ru@gmail.com">Email</a>

<a href="{{ url_for('static', filename='resume.pdf') }}" class="btn btn-primary" download>📄 Скачать резюме</a>
{% endblock %}
